Repository turboFei/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:documentation, kind:infra, module:common, module:ctl, module:events, module:flink, module:ha, module:hive, module:jdbc, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:extensions, module:rest-client, module:integration-tests, module:authz, module:ui

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      '.rat-excludes',
      '.scalafmt',
      '**/*pom.xml',
      'bin/docker-image-tool.sh',
      'build/**/*',
      'docker/**/*',
      'docs/requirements',
      'kyuubi-assembly/**/*',
      'scalastyle-config.xml'
    ]
    - all-globs-to-any-file: [
      'dev/**/*',
      '!dev/kyuubi-codecov/**/*',
      '!dev/kyuubi-tpcds/**/*'
    ]

"kind:deploy":
  - changed-files:
    - all-globs-to-any-file: [
      'bin/**/*',
      '!bin/beeline',
      '!bin/docker-image-tool.sh'
    ]
    
"kind:documentation":
  - changed-files:
    - any-glob-to-any-file: [
      '*.md',
      'conf/**/*',
      'docs/**/*',
      'readthedocs.yml'
    ]

"kind:infra":
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.github/**/*',
      '.gitignore',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary',
      'codecov.yml',
      'dev/kyuubi-codecov/**/*',
      'licenses-binary'
    ]

"module:common":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-common/**/*'
    ]

"module:ctl":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'kyuubi-ctl/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:events":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-events/**/*'
    ]

"module:flink":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-flink-sql-engine/**/*',
      'integration-tests/kyuubi-flink-it/**/*'
    ]

"module:ha":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-ha/**/*',
      'kyuubi-zookeeper/**/*'
    ]

"module:hive":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'externals/kyuubi-hive-sql-engine/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:jdbc":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-jdbc-engine/**/*'
    ]

"module:kubernetes":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      'bin/docker-image-tool.sh',
      'docker/**/*',
      'integration-tests/kyuubi-kubernetes-it/**/*'
    ]

"module:metrics":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-metrics/**/*'
    ]

"module:trino":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-trino-engine/**/*'
    ]

"module:tpcds":
  - changed-files:
    - any-glob-to-any-file: [
      'dev/kyuubi-tpcds/**/*'
    ]

"module:server":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/kyuubi',
      'kyuubi-server/src/**/*',
      'kyuubi-server/pom.xml',
      'extension/server/kyuubi-server-plugin/**/*'
    ]

"module:spark":
  - changed-files:
      - any-glob-to-any-file: [
        'externals/kyuubi-spark-sql-engine/**/*',
        'extensions/spark/**/*'
      ]

"module:extensions":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/**/*'
    ]

"module:rest-client":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-rest-client/**/*'
    ]

"module:integration-tests":
  - changed-files:
    - any-glob-to-any-file: [
      'integration-tests/**/*'
    ]

"module:authz":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/spark/kyuubi-spark-authz/**/*'
    ]

"module:ui":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-server/web-ui/**/*'
    ]

Revert "[KYUUBI #4279] Use new Apache 'closer.lua' syntax for kyuubi-download to obtain engine"
  docs/contributing/code/building.md
  externals/kyuubi-download/pom.xml
  pom.xml
Labels: kind:documentation

[KYUUBI #6117] Bump Kyuubi Shaded 0.3.0
  dev/dependencyList
  docs/configuration/settings.md
  docs/deployment/migration-guide.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/HadoopThriftAuthBridgeServer.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/TSetIpAddressProcessor.scala
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/KerberosSaslHelper.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/PlainSaslHelper.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/TFilterTransport.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/ThriftUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  pom.xml
Labels: kind:documentation, module:common, module:ctl, module:hive, module:server

[KYUUBI #6092] Enable DeltaTest for Spark 3.5
  pom.xml
Labels: none

[KYUUBI #6090] Bump Delta from 3.0.0 to 3.1.0 for Spark 3.5
  pom.xml
Labels: none

[KYUUBI #6152] Remove useless variable
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
Labels: module:flink

[KYUUBI #6156] Remove `flink.` prefix for create session configurations
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
Labels: module:flink

[KYUUBI #6204] Fix kyuubi session limiter leak when opening session failed
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Labels: module:common, module:server

[KYUUBI #6139] Expose env vars and sys props to JUnit tests too
  pom.xml
Labels: none

[KYUUBI #6063] Bump iceberg 1.4.3
  pom.xml
Labels: none

[KYUUBI #6196] Add log4j2 template for kyuubi repl commands
  bin/beeline
  bin/kyuubi-admin
  bin/kyuubi-ctl
  bin/kyuubi-zk-cli
  conf/log4j2-repl.xml.template
  conf/log4j2.xml.template
Labels: kind:documentation, module:ctl, module:hive

[KYUUBI #6094] Bump Spark from 3.5.0 to 3.5.1
  .github/workflows/master.yml
  pom.xml
Labels: kind:infra

[KYUUBI #6089] Bump Paimon from 0.5.0-incubating to 0.7.0-incubating
  pom.xml
Labels: none

[KYUUBI #6174] Remove unused dependency management from POM
  externals/kyuubi-hive-sql-engine/pom.xml
  pom.xml
Labels: module:hive

[KYUUBI #6081] RESTful client should retry on UnknownHostException
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
Labels: module:rest-client

[KYUUBI #6126] Filter blank engine home env
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
Labels: module:server

[KYUUBI #6163] Set default Spark version to 3.5
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  build/release/release.sh
  docs/contributing/code/building.md
  docs/extensions/engines/spark/lineage.md
  docs/extensions/engines/spark/rules.md
  extensions/spark/kyuubi-extension-spark-3-4/src/test/scala/org/apache/spark/sql/ZorderCoreBenchmark.scala
  extensions/spark/kyuubi-spark-authz/README.md
  extensions/spark/kyuubi-spark-lineage/README.md
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/deployment/KyuubiOnKubernetesTestsSuite.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  pom.xml
Labels: kind:documentation, kind:infra, module:kubernetes, module:spark, module:extensions, module:integration-tests, module:authz

[KYUUBI #6193] [INFRA] Add known_transkations
  build/release/known_translations
Labels: none

[KYUUBI #6097][KYUUBI #6098] Upgrade Flink 1.16.3 and 1.18.1
  .github/workflows/master.yml
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
  pom.xml
Labels: kind:infra, module:server

[KYUUBI #6058] Make Jetty server stop timeout configurable
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTrinoFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
Labels: kind:documentation, module:common, module:server

[KYUUBI #6179] Bump iceberg from 1.4.3 to 1.5.0
  pom.xml
Labels: none

[KYUUBI #6177] Bump BouncyCastle from 1.67 to 1.77
  externals/kyuubi-flink-sql-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Labels: module:flink, module:server, module:integration-tests

[KYUUBI #6101] Bump Jackson from 2.15.0 to 2.15.4
  dev/dependencyList
  pom.xml
Labels: none

[KYUUBI #6153] Cut out Hive JDBC and Hive Service deps in beeline module
  NOTICE-binary
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/BeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/ClientCommandHookFactory.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/Commands.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/DatabaseConnection.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/SeparatedValuesOutputFormat.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/hs2connection/HS2ConnectionFileUtils.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/ProxyAuthTest.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/TestClientCommandHookFactory.java
  pom.xml
Labels: kind:infra, module:ctl, module:hive

[KYUUBI #6083] Bump Spark 3.3.3 to 3.3.4
  pom.xml
Labels: none

[KYUUBI #6166] [MINOR] Fix wrong copy path about SPARK_HOME in docker
  bin/docker-image-tool.sh
Labels: module:kubernetes

[KYUUBI #6145][FOLLOWUP] Remove unused dependency commons-lang
  dev/dependencyList
  kyuubi-server/pom.xml
  kyuubi-server/src/main/java/org/apache/kyuubi/ebay/carmel/gateway/endpoint/EndpointManager.java
Labels: module:server

Revert "[KYUUBI #5918] Kyuubi BeeLine should check the relocated TTransportException"
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
Labels: module:ctl, module:hive

[KYUUBI #6080] Improve instruction for deploy Kyuubi on K8s
  .github/workflows/master.yml
  .github/workflows/publish-snapshot-docker.yml
  bin/docker-image-tool.sh
  build/Dockerfile.CI
  docker/Dockerfile
  docker/kyuubi-configmap.yaml
  docker/kyuubi-deployment.yaml
  docker/kyuubi-pod.yaml
  docker/kyuubi-service.yaml
  docs/deployment/engine_on_kubernetes.md
  docs/deployment/kyuubi_on_kubernetes.md
  docs/quick_start/quick_start.rst
  docs/quick_start/quick_start_with_helm.md
Labels: kind:documentation, kind:infra, module:kubernetes

[KYUUBI #6162] Cut out hive-common deps in beeline module
  NOTICE-binary
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/BeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/BeeLineOpts.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/ClientCommandHookFactory.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/Commands.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/Rows.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/cli/CliOptionsProcessor.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/cli/EscapeCRLFHelper.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/cli/ShellCmdExecutor.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/log/InPlaceUpdate.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/log/ProgressMonitor.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/util/HiveStringUtils.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/util/ShutdownHookManager.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/common/util/StreamPrinter.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/hs2connection/HiveSiteHS2ConnectionFileParser.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/logs/KyuubiBeelineInPlaceUpdateStream.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/TestBeelineArgParsing.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/TestClientCommandHookFactory.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/TestCommands.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/common/HiveTestUtils.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/hs2connection/TestUserHS2ConnectionFileParser.java
Labels: kind:infra, module:ctl, module:hive

[KYUUBI #6107][FOLLOWUP] Add comments for the newly added parameters of the Spark event
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
Labels: module:spark

[KYUUBI #6078] KSHC should handle the commit of the partitioned table as dynamic partition at write path
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/HiveBatchWrite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/HiveWrite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/HiveWriteBuilder.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/HiveWriteHelper.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveQuerySuite.scala
Labels: module:spark, module:extensions

[KYUUBI #6171] Drop building support for Flink 1.16
  .github/workflows/master.yml
  pom.xml
Labels: kind:infra

[KYUUBI #6182] JDBC engine using the overlay conf as session conf
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/session/JdbcSessionImpl.scala
Labels: module:jdbc

[KYUUBI #5384][KSCH] Hive connector supports Spark 3.5
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorUtils.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveFileIndex.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveScan.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/HiveWrite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/spark/sql/hive/kyuubi/connector/HiveBridgeHelper.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveCatalogSuite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveQuerySuite.scala
  pom.xml
Labels: module:spark, module:extensions

[KYUUBI #5509] Add Apache Impala JDBC engine dialect
  externals/kyuubi-jdbc-engine/src/main/resources/META-INF/services/org.apache.kyuubi.engine.jdbc.connection.JdbcConnectionProvider
  externals/kyuubi-jdbc-engine/src/main/resources/META-INF/services/org.apache.kyuubi.engine.jdbc.dialect.JdbcDialect
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/connection/JdbcConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/ImpalaDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/impala/ImpalaConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/impala/ImpalaSchemaHelper.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/impala/ImpalaTRowSetGenerator.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/mysql/MySQL8ConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/ExecuteStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/postgresql/PostgreSQLConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/schema/DefaultJdbcTRowSetGenerator.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/schema/SchemaHelper.scala
  externals/kyuubi-jdbc-engine/src/test/resources/impala-compose.yml
  externals/kyuubi-jdbc-engine/src/test/resources/impala_conf/hive-site.xml
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/DialectSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/ImpalaOperationSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/OperationWithImpalaEngineSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/SessionSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/StatementSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/WithImpalaContainer.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/impala/WithImpalaEngine.scala
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-jdbc-it/src/test/resources/impala-compose.yml
  integration-tests/kyuubi-jdbc-it/src/test/resources/impala_conf/hive-site.xml
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/OperationWithServerSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/SessionWithServerSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/StatementWithServerSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/WithKyuubiServerAndImpalaContainer.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
Labels: module:common, module:jdbc, module:integration-tests

[KYUUBI #6061] Delete svn staging dir before checking out
  build/release/release.sh
Labels: none

[KYUUBI #6099] Remove support of Derby for Kyuubi metastore
  LICENSE-binary
  NOTICE-binary
  dev/dependencyList
  docs/configuration/settings.md
  docs/deployment/migration-guide.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/JdbcUtilsSuite.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/sql/derby/001-KYUUBI-3967.derby.sql
  kyuubi-server/src/main/resources/sql/derby/002-KYUUBI-4119.derby.sql
  kyuubi-server/src/main/resources/sql/derby/003-KYUUBI-5078.derby.sql
  kyuubi-server/src/main/resources/sql/derby/004-KYUUBI-5131.derby.sql
  kyuubi-server/src/main/resources/sql/derby/005-KYUUBI-5327.derby.sql
  kyuubi-server/src/main/resources/sql/derby/README
  kyuubi-server/src/main/resources/sql/derby/metadata-store-schema-1.6.0.derby.sql
  kyuubi-server/src/main/resources/sql/derby/upgrade-1.6.0-to-1.7.0.derby.sql
  kyuubi-server/src/main/resources/sql/derby/upgrade-1.7.0-to-1.8.0.derby.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/DatabaseType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JdbcDatabaseDialect.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreSuite.scala
Labels: kind:documentation, kind:infra, module:common, module:server

[KYUUBI #6145] Use HiveMetaStore Docker for testing
  build/Dockerfile.HMS
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSecuredHMSContainer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProviderSuite.scala
Labels: module:common, module:server

[KYUUBI #6096] Enable PySpark tests for Spark 3.5
  pom.xml
Labels: none

[KYUUBI #6147][TRINO] Use the overlay conf as session conf
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
Labels: module:trino
