Repository turboFei/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:documentation, kind:infra, module:common, module:ctl, module:events, module:flink, module:ha, module:hive, module:jdbc, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:extensions, module:rest-client, module:integration-tests, module:authz, module:ui

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      '.rat-excludes',
      '.scalafmt',
      '**/*pom.xml',
      'bin/docker-image-tool.sh',
      'build/**/*',
      'docker/**/*',
      'docs/requirements',
      'kyuubi-assembly/**/*',
      'scalastyle-config.xml'
    ]
    - all-globs-to-any-file: [
      'dev/**/*',
      '!dev/kyuubi-codecov/**/*',
      '!dev/kyuubi-tpcds/**/*'
    ]

"kind:deploy":
  - changed-files:
    - all-globs-to-any-file: [
      'bin/**/*',
      '!bin/beeline',
      '!bin/docker-image-tool.sh'
    ]
    
"kind:documentation":
  - changed-files:
    - any-glob-to-any-file: [
      '*.md',
      'conf/**/*',
      'docs/**/*',
      'readthedocs.yml'
    ]

"kind:infra":
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.github/**/*',
      '.gitignore',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary',
      'codecov.yml',
      'dev/kyuubi-codecov/**/*',
      'licenses-binary'
    ]

"module:common":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-common/**/*'
    ]

"module:ctl":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'kyuubi-ctl/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:events":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-events/**/*'
    ]

"module:flink":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-flink-sql-engine/**/*',
      'integration-tests/kyuubi-flink-it/**/*'
    ]

"module:ha":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-ha/**/*',
      'kyuubi-zookeeper/**/*'
    ]

"module:hive":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'externals/kyuubi-hive-sql-engine/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:jdbc":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-jdbc-engine/**/*'
    ]

"module:kubernetes":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      'bin/docker-image-tool.sh',
      'docker/**/*',
      'integration-tests/kyuubi-kubernetes-it/**/*'
    ]

"module:metrics":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-metrics/**/*'
    ]

"module:trino":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-trino-engine/**/*'
    ]

"module:tpcds":
  - changed-files:
    - any-glob-to-any-file: [
      'dev/kyuubi-tpcds/**/*'
    ]

"module:server":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/kyuubi',
      'kyuubi-server/src/**/*',
      'kyuubi-server/pom.xml',
      'extension/server/kyuubi-server-plugin/**/*'
    ]

"module:spark":
  - changed-files:
      - any-glob-to-any-file: [
        'externals/kyuubi-spark-sql-engine/**/*',
        'extensions/spark/**/*'
      ]

"module:extensions":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/**/*'
    ]

"module:rest-client":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-rest-client/**/*'
    ]

"module:integration-tests":
  - changed-files:
    - any-glob-to-any-file: [
      'integration-tests/**/*'
    ]

"module:authz":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/spark/kyuubi-spark-authz/**/*'
    ]

"module:ui":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-server/web-ui/**/*'
    ]

[KYUUBI #6130] Stop engine immediately after close session for `CONNECTION` level FlinkSQLEngine
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkEngineInitializeSuite.scala
Labels: module:flink

[KYUUBI #6125] Drop Kyuubi extension for Spark 3.1
  docs/extensions/engines/spark/rules.md
  extensions/spark/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/DropIgnoreNonexistent.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/InsertShuffleNodeBeforeJoin.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLParser.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/RepartitionBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiSqlClassification.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsRule.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/resources/log4j.properties
  extensions/spark/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/DropIgnoreNonexistentSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/FinalStageConfigIsolationSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/InsertShuffleNodeBeforeJoinSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/RepartitionBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/SqlClassificationSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/WatchDogSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-3-4/pom.xml
  extensions/spark/kyuubi-extension-spark-3-4/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-3-4/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-3-5/pom.xml
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLAstBuilder.scala
  extensions/spark/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/ZorderSuiteBase.scala
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
Labels: kind:documentation, module:spark, module:extensions

[KYUUBI #6108] Display the CPU time consumed by the statement in the Spark Engine tab
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
Labels: module:spark

[KYUUBI #6114] Properly handle KyuubiStatement#getMoreResults(CLOSE_CURRENT_RESULT)
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/adapter/SQLStatement.java
Labels: module:ctl, module:hive

[KYUUBI #6197] Revise dependency management of Spark authZ plugin
  extensions/spark/kyuubi-spark-authz-shaded/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  pom.xml
Labels: module:spark, module:extensions, module:authz

[KYUUBI #6170] Merge JDBC Trino TPC jobs and Style Check jobs in GitHub Actions workflow
  .github/workflows/master.yml
  .github/workflows/style.yml
Labels: kind:infra

[KYUUBI #6143] Add Dockerfile.HMS for testing
  build/Dockerfile.HMS
Labels: none

[KYUUBI #6085] Bump gRPC from 1.60.1 to 1.60.2
  dev/dependencyList
  pom.xml
Labels: none

[KYUUBI #6185] Audit kyuubi operation state change log
  conf/log4j2.xml.template
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationAuditLogger.scala
  kyuubi-server/src/test/resources/log4j2-test.xml
Labels: kind:documentation, module:common, module:server

[KYUUBI #6194] AuthZ shaded should include ranger-plugins-cred
  extensions/spark/kyuubi-spark-authz-shaded/pom.xml
Labels: module:spark, module:extensions

[KYUUBI #6167] Drop JDK 11 on GitHub Actions
  .github/workflows/master.yml
Labels: kind:infra

[KYUUBI #6131] Simplify Maven dependency management after dropping building support for Spark 3.1
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-3-4/pom.xml
  extensions/spark/kyuubi-extension-spark-3-5/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  pom.xml
Labels: module:spark, module:extensions

[KYUUBI #5981] Deploy Spark Hive connector with Scala 2.13 to Maven Central
  build/release/release.sh
Labels: none

[KYUUBI #6075] Update known_translations
  build/release/known_translations
Labels: none

[KYUUBI #6199] Support to run HiveSQLEngine on kerberized YARN
  docs/configuration/settings.md
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/deploy/HiveYarnModeSubmitter.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveCatalogDatabaseOperationSuite.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/ApplicationMaster.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/EngineYarnModeSubmitter.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
Labels: kind:documentation, module:common, module:hive, module:server

[KYUUBI #6151] Remove invalid matrix spark 3.1 in GA
  .github/workflows/master.yml
Labels: kind:infra

[KYUUBI #6168] Check if forcedMaxOutputRows is negative
  extensions/spark/kyuubi-extension-spark-3-4/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
Labels: module:spark, module:extensions

[KYUUBI #6165] Add some HttpClient options for EngineUIProxyServlet
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
Labels: kind:documentation, module:common, module:server

[KYUUBI #6191] Update docs to mention support of Flink 1.19
  docs/quick_start/quick_start.rst
Labels: kind:documentation

[KYUUBI #6173] Bump maven-download-plugin from 1.7.1 to 1.8.1
  pom.xml
Labels: none

[KYUUBI #6107] [Spark] Collect and summarize the `executorRunTime` and `executorCpuTime` of the statement
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/SparkUIUtilsHelper.scala
Labels: module:spark

[KYUUBI #6140] Move getCodeSourceLocation to kyuubi-util
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/WithFlinkSQLEngineLocal.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/WithFlinkSQLEngineOnYarn.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/deploy/HiveYarnModeSubmitterSuite.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/udf/KyuubiDefinedFunctionSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  integration-tests/kyuubi-flink-it/src/test/scala/org/apache/kyuubi/it/flink/WithKyuubiServerAndFlinkMiniCluster.scala
  integration-tests/kyuubi-flink-it/src/test/scala/org/apache/kyuubi/it/flink/WithKyuubiServerAndYarnMiniCluster.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEnginePerConnectionSuite.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEnginePerUserSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/WithKyuubiServerAndImpalaContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/mysql/WithKyuubiServerAndMySQLContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/phoenix/WithKyuubiServerAndPhoenixContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/postgresql/WithKyuubiServerAndPostgreSQLContainer.scala
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/WithKyuubiServerAndTrinoContainer.scala
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/server/TrinoFrontendSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/engine/deploy/yarn/EngineYarnModeSubmitterSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerAndHadoopMiniCluster.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
  kyuubi-util/src/main/java/org/apache/kyuubi/util/JavaUtils.java
Labels: module:common, module:flink, module:hive, module:server, module:spark, module:integration-tests

[KYUUBI #6183] [K8S] KyuubiConf.getKubernetesConf should set namespace even if the Kubernetes context is empty
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: module:common

[KYUUBI #5509][FOLLOWUP] JDBC IT should always depends on kyuubi-hive-jdbc-shaded
  integration-tests/kyuubi-jdbc-it/pom.xml
Labels: module:integration-tests

[KYUUBI #5104][TEST] BatchesResourceSuite - expose the metrics with operation type and current state
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Labels: module:server

[KYUUBI #6069] [TEST] TFrontendServiceSuite - close expired operations
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
Labels: module:common

[KYUUBI #6070] Improve perf on assembling row-based TRowSet
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/result/TRowSetGenerator.scala
Labels: module:common

[KYUUBI #6118] Migrate to shaded HMS client for getting delegation token on server
  LICENSE-binary
  NOTICE-binary
  dev/dependencyList
  ebay/kyuubi-data/pom.xml
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProviderSuite.scala
Labels: kind:infra, module:server

[KYUUBI #6068] Remove community section from user docs
  CONTRIBUTING.md
  docs/community/CONTRIBUTING.md
  docs/community/collaborators.md
  docs/community/index.rst
  docs/contributing/code/index.rst
  docs/contributing/code/release.md
  docs/index.rst
Labels: kind:documentation

[KYUUBI #6091] Deprecate and remove building support for Spark 3.1
  .github/workflows/license.yml
  .github/workflows/publish-snapshot-nexus.yml
  .github/workflows/style.yml
  build/Dockerfile.CI
  build/release/release.sh
  dev/kyuubi-codecov/pom.xml
  dev/reformat
  docs/contributing/code/building.md
  docs/deployment/migration-guide.md
  docs/extensions/engines/spark/jdbc-dialect.md
  docs/extensions/engines/spark/rules.md
  docs/extensions/engines/spark/z-order.md
  docs/monitor/trouble_shooting.md
  extensions/spark/kyuubi-extension-spark-3-4/src/test/scala/org/apache/spark/sql/ZorderCoreBenchmark.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/test/scala/org/apache/spark/sql/ZorderCoreBenchmark.scala
  extensions/spark/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/ZorderCoreBenchmark.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/execution/arrow/KyuubiArrowConverters.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
Labels: kind:documentation, kind:infra, module:spark, module:extensions

[KYUUBI #6201] Distinguish the collect mode of different engines
  docs/configuration/settings.md
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/JdbcOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationIncrementCollectSuite.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:jdbc, module:trino, module:spark

[KYUUBI #6076] Update Helm Chart and playground to use 1.8.1
  charts/kyuubi/Chart.yaml
  docker/playground/.env
Labels: module:kubernetes

[KYUUBI #6043][TEST][GLUTEN] Gluten-it gluten package add arch suffix
  integration-tests/kyuubi-gluten-it/pom.xml
Labels: module:integration-tests

[KYUUBI #6129] [BUILD] Remove the extension spark jars before build to avoid include unspecified version
  build/dist
Labels: none

[KYUUBI #6134] Support Flink 1.19
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkEngineUtils.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Labels: module:flink

[KYUUBI #6164] Limit max parallel for each GitHub Actions workflow
  .github/workflows/master.yml
Labels: kind:infra

[KYUUBI #6160] Fix beeline test KyuubiBeeLineTest.testKyuubiBeelineComment
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/BeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
  kyuubi-hive-beeline/src/test/java/org/apache/hive/beeline/KyuubiBeeLineTest.java
Labels: module:ctl, module:hive

[KYUUBI #6134][FOLLOWUP] Add profile and CI for Flink 1.19
  .github/workflows/master.yml
  pom.xml
Labels: kind:infra

[KYUUBI #6195] Update Helm Chart and playground to use 1.9.0
  charts/kyuubi/Chart.yaml
  docker/playground/.env
Labels: module:kubernetes

[KYUUBI #6074] Add a script to simplify the process of creating release notes
  build/release/pre_gen_release_notes.py
  build/release/release_utils.py
Labels: none
