Repository turboFei/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:documentation, kind:infra, module:common, module:ctl, module:events, module:flink, module:ha, module:hive, module:jdbc, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:extensions, module:rest-client, module:integration-tests, module:authz, module:ui

[KYUUBI #5952] Disconnect connections without running operations after engine maxlife time graceful period
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineTests.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:spark

[HADP-52229] Support HDFS path operations - CREATE/DELETE/RENAME/LIST (#548)
  ebay/kyuubi-ebay-extension-spark/src/main/antlr4/org.apache.spark.sql.kyuubi/KyuubiEbaySparkSQL.g4
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/catalyst/logical/KyuubiCreatePathCommand.scala
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/catalyst/logical/KyuubiDeletePathCommand.scala
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/catalyst/logical/KyuubiListPathCommand.scala
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/catalyst/logical/KyuubiRenamePathCommand.scala
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/KyuubiEbaySparkSQLAstBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationEbaySuite.scala
Labels: module:server

[HADP-50134][FOLLOWUP] Add MiscConfAdvisor for big result set conf and legal ebay config (#549)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/MiscConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/ChainedSessionConfAdvisorSuite.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/MiscConfAdvisorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationEbaySuite.scala
Labels: module:server

copy authz
  build/dist
Labels: none

[HADP-52521][ZETA] Support to download remote file (#553)
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/DownloadDataOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/DownloadFileOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationEbaySuite.scala
Labels: module:ctl, module:hive, module:server, module:spark

[HADP-52521][FOLLOWUP] Refine the download file log (#554)
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/DownloadFileOperation.scala
Labels: module:spark

[HADP-52467] Clarify the spark submit env in kyuubi side (#552)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/PandaEnvConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/PySparkConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/ChainedSessionConfAdvisorSuite.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/PandaEnvConfAdvisorSuite.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/PySparkConfAdvisorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
Labels: module:common

check no running operation
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineTests.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:spark

[KYUUBI #5999] loads the interval of sessionConfCache from configurable file in FileSessionConfAdvisor
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/FileSessionConfAdvisor.scala
Labels: module:server

[KYUUBI #6010] Improve Gluten usage documentation
  docs/deployment/spark/gluten.md
Labels: kind:documentation

[KYUUBI #5965] [AUTHZ] Supports check hoodie procedures show_commits resource privileges
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/tableExtractors.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/HudiCatalogRangerSparkExtensionSuite.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #5969] Trino engine add default schema
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
Labels: module:trino

[KYUUBI #5894] Separate closed and online sessions/statements in the SparkUI's engine tab
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Labels: module:spark

[KYUUBI #6000] Modify the incorrect configuration file in the trino-cli documentation
  docs/client/cli/trino_cli.md
Labels: kind:documentation

[KYUUBI #6036] JDBC driver conditional sets fetchSize on opening session
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Labels: module:ctl, module:hive

[KYUUBI #5962] Bump Flink 1.17.1 to 1.17.2
  pom.xml
Labels: none

[KYUUBI #6047] [CI] Free up disk space
  .github/scripts/free_disk_space.sh
  .github/workflows/gluten.yml
  .github/workflows/master.yml
  .github/workflows/publish-snapshot-docker.yml
  .github/workflows/publish-snapshot-nexus.yml
Labels: kind:infra

[KYUUBI #5953] [LICENSE] Update NOTICE
  NOTICE
  NOTICE-binary
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  kyuubi-hive-jdbc-shaded/src/main/resources/META-INF/NOTICE
Labels: kind:infra, module:ctl, module:flink, module:hive, module:spark

[KYUUBI #5964][BUG] Avoid check not fully optimized query for InsertIntoDataSourceDirCommand and InsertIntoDataSourceCommand
  extensions/spark/kyuubi-spark-authz/src/main/resources/table_command_spec.json
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/gen/TableCommands.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #5975] Bump trino-client 411
  LICENSE-binary
  dev/dependencyList
  docs/client/cli/trino_cli.md
  docs/client/jdbc/trino_jdbc.md
  docs/quick_start/quick_start.rst
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/SetCurrentCatalog.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/SetCurrentDatabase.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/WithTrinoContainerServer.scala
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/WithKyuubiServerAndTrinoContainer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/TrinoClientApiSuite.scala
  pom.xml
Labels: kind:documentation, kind:infra, module:trino, module:server, module:spark, module:integration-tests

[KYUUBI #5973] Bump gRPC from 1.53.0 to 1.60.1
  LICENSE-binary
  dev/dependencyList
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
  kyuubi-ha/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Labels: kind:infra, module:ha, module:server, module:spark

[KYUUBI #5937] PVM cause cache table not work
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/permanentview/PermanentViewMarker.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #5887][FOLLOWUP] Catch all exception when dump the result to json and fix typo
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/PySparkTests.scala
Labels: module:server, module:spark

[KYUUBI #5674] Add PostgreSQL as backend database for kyuubi metadata
  dev/dependencyList
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/sql/postgresql/metadata-store-schema-1.9.0.postgresql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/DatabaseType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JdbcDatabaseDialect.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreSuite.scala
Labels: kind:documentation, module:common, module:server

[KYUUBI #5951] [DOC] Improve doc for Session Conf Advisor
  docs/extensions/server/configuration.rst
Labels: kind:documentation

[KYUUBI #5977] Fix argument position on constructing Trino ClientSession
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
Labels: module:trino

[KYUUBI #6045] [REST] Sync the AdminRestApi with the AdminResource Apis
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/AdminRestApi.java
Labels: module:rest-client

[KYUUBI #5797][FOLLOWUP] Desc engine command support show engine registered attributes
  kyuubi-server/src/main/java/org/apache/kyuubi/ebay/carmel/gateway/endpoint/SparkEndpoint.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/command/DescribeEngine.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/parser/DescribeEngineSuite.scala
Labels: module:server

[KYUUBI #5867][FOLLOWUP] Remove unused config
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common

[KYUUBI #6006][HELM] Support additional labels for service monitor
  charts/kyuubi/templates/kyuubi-servicemonitor.yaml
  charts/kyuubi/values.yaml
Labels: none

[KYUUBI #5978] Canonicalize Trino IT in GitHub Action workflow
  .github/workflows/master.yml
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/server/TrinoFrontendSuite.scala
Labels: kind:infra, module:integration-tests

[KYUUBI #6001] Fix RESTful protocol security enabled evaluation
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthUtils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactorySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationBatchAccountSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationEbaySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiRestFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Labels: module:common, module:server

[KYUUBI #5997][AUTHZ] Avoid unnecessary loop of RuleEliminateTypeOf
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/RuleEliminateTypeOf.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #5377][FOLLOWUP] Always try to cleanup session result path
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Labels: module:spark

[KYUUBI #5955][TEST][GLUTEN] Disable gluten ui when running integration test
  kyuubi-common/src/test/scala/org/apache/kyuubi/GlutenSuiteMixin.scala
Labels: module:common

[KYUUBI #6028] Exited spark-submit process should not block batch submit queue
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiBatchService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSession.scala
Labels: module:kubernetes, module:server, module:integration-tests

[KYUUBI #6018] Speed up GetTables operation for Spark session catalog
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/util/SparkCatalogUtils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:spark

[KYUUBI #5968] Support set authentication user for Trino engine
  docs/configuration/settings.md
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:trino

[KYUUBI #5674][LICENSE][FOLLOWUP] Update license files
  LICENSE-binary
  licenses-binary/LICENSE-BSD-ongres.txt
  licenses-binary/LICENSE-BSD-postgresql.txt
  licenses-binary/LICENSE-MIT-checker.txt
Labels: kind:infra

[KYUUBI #5974] Bump jetcd 0.7.7
  LICENSE-binary
  dev/dependencyList
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Labels: kind:infra, module:spark

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      '.rat-excludes',
      '.scalafmt',
      '**/*pom.xml',
      'bin/docker-image-tool.sh',
      'build/**/*',
      'docker/**/*',
      'docs/requirements',
      'kyuubi-assembly/**/*',
      'scalastyle-config.xml'
    ]
    - all-globs-to-any-file: [
      'dev/**/*',
      '!dev/kyuubi-codecov/**/*',
      '!dev/kyuubi-tpcds/**/*'
    ]

"kind:deploy":
  - changed-files:
    - all-globs-to-any-file: [
      'bin/**/*',
      '!bin/beeline',
      '!bin/docker-image-tool.sh'
    ]
    
"kind:documentation":
  - changed-files:
    - any-glob-to-any-file: [
      '*.md',
      'conf/**/*',
      'docs/**/*',
      'readthedocs.yml'
    ]

"kind:infra":
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.github/**/*',
      '.gitignore',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary',
      'codecov.yml',
      'dev/kyuubi-codecov/**/*',
      'licenses-binary'
    ]

"module:common":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-common/**/*'
    ]

"module:ctl":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'kyuubi-ctl/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:events":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-events/**/*'
    ]

"module:flink":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-flink-sql-engine/**/*',
      'integration-tests/kyuubi-flink-it/**/*'
    ]

"module:ha":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-ha/**/*',
      'kyuubi-zookeeper/**/*'
    ]

"module:hive":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'externals/kyuubi-hive-sql-engine/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:jdbc":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-jdbc-engine/**/*'
    ]

"module:kubernetes":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      'bin/docker-image-tool.sh',
      'docker/**/*',
      'integration-tests/kyuubi-kubernetes-it/**/*'
    ]

"module:metrics":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-metrics/**/*'
    ]

"module:trino":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-trino-engine/**/*'
    ]

"module:tpcds":
  - changed-files:
    - any-glob-to-any-file: [
      'dev/kyuubi-tpcds/**/*'
    ]

"module:server":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/kyuubi',
      'kyuubi-server/src/**/*',
      'kyuubi-server/pom.xml',
      'extension/server/kyuubi-server-plugin/**/*'
    ]

"module:spark":
  - changed-files:
      - any-glob-to-any-file: [
        'externals/kyuubi-spark-sql-engine/**/*',
        'extensions/spark/**/*'
      ]

"module:extensions":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/**/*'
    ]

"module:rest-client":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-rest-client/**/*'
    ]

"module:integration-tests":
  - changed-files:
    - any-glob-to-any-file: [
      'integration-tests/**/*'
    ]

"module:authz":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/spark/kyuubi-spark-authz/**/*'
    ]

"module:ui":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-server/web-ui/**/*'
    ]
