Repository turboFei/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:documentation, kind:infra, module:common, module:ctl, module:events, module:flink, module:ha, module:hive, module:jdbc, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:extensions, module:rest-client, module:integration-tests, module:authz, module:ui

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      '.rat-excludes',
      '.scalafmt',
      '**/*pom.xml',
      'bin/docker-image-tool.sh',
      'build/**/*',
      'docker/**/*',
      'docs/requirements',
      'kyuubi-assembly/**/*',
      'scalastyle-config.xml'
    ]
    - all-globs-to-any-file: [
      'dev/**/*',
      '!dev/kyuubi-codecov/**/*',
      '!dev/kyuubi-tpcds/**/*'
    ]

"kind:deploy":
  - changed-files:
    - all-globs-to-any-file: [
      'bin/**/*',
      '!bin/beeline',
      '!bin/docker-image-tool.sh'
    ]
    
"kind:documentation":
  - changed-files:
    - any-glob-to-any-file: [
      '*.md',
      'conf/**/*',
      'docs/**/*',
      'readthedocs.yml'
    ]

"kind:infra":
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.github/**/*',
      '.gitignore',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary',
      'codecov.yml',
      'dev/kyuubi-codecov/**/*',
      'licenses-binary'
    ]

"module:common":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-common/**/*'
    ]

"module:ctl":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'kyuubi-ctl/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:events":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-events/**/*'
    ]

"module:flink":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-flink-sql-engine/**/*',
      'integration-tests/kyuubi-flink-it/**/*'
    ]

"module:ha":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-ha/**/*',
      'kyuubi-zookeeper/**/*'
    ]

"module:hive":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'externals/kyuubi-hive-sql-engine/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:jdbc":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-jdbc-engine/**/*'
    ]

"module:kubernetes":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      'bin/docker-image-tool.sh',
      'docker/**/*',
      'integration-tests/kyuubi-kubernetes-it/**/*'
    ]

"module:metrics":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-metrics/**/*'
    ]

"module:trino":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-trino-engine/**/*'
    ]

"module:tpcds":
  - changed-files:
    - any-glob-to-any-file: [
      'dev/kyuubi-tpcds/**/*'
    ]

"module:server":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/kyuubi',
      'kyuubi-server/src/**/*',
      'kyuubi-server/pom.xml',
      'extension/server/kyuubi-server-plugin/**/*'
    ]

"module:spark":
  - changed-files:
      - any-glob-to-any-file: [
        'externals/kyuubi-spark-sql-engine/**/*',
        'extensions/spark/**/*'
      ]

"module:extensions":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/**/*'
    ]

"module:rest-client":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-rest-client/**/*'
    ]

"module:integration-tests":
  - changed-files:
    - any-glob-to-any-file: [
      'integration-tests/**/*'
    ]

"module:authz":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/spark/kyuubi-spark-authz/**/*'
    ]

"module:ui":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-server/web-ui/**/*'
    ]

[KYUUBI #5990] Always take the first declared SASL/PLAIN auth type
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactorySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationEbaySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthEbaySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminCtlSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminRestApiSuite.scala
Labels: kind:documentation, module:common, module:server

[KYUUBI #5594][AUTHZ] BuildQuery should respect normal node's input
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/V2CommandsPrivilegesSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/DeltaCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/HudiCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/IcebergCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/V2JdbcTableCatalogRangerSparkExtensionSuite.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #6003] Allow disabling user impersonation on launching engine
  docs/configuration/settings.md
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/ebay/carmel/gateway/session/CarmelSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/chat/ChatProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveYarnModeProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/jdbc/JdbcProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkBatchProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/BatchTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefTests.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefWithZookeeperSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/JpsApplicationOperationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveYarnModeProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/jdbc/JdbcProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceWithClusterModeSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminCtlSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminRestApiSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/PySparkBatchRestApiSuite.scala
Labels: kind:documentation, module:common, module:kubernetes, module:server, module:integration-tests

[KYUUBI #5961][FOLLOWUP] Prevent NPE when checking ticket cache exists
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/KerberosAuthentication.java
Labels: module:ctl, module:hive

[KYUUBI #5975][FOLLOWUP][TEST] Fix trino - get type info
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Labels: module:trino

[KYUUBI #5961] Support to specify client kerberosAuthType as fromTicketCache
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/KerberosAuthentication.java
Labels: module:ctl, module:hive

[KYUUBI #6037] Fix the JDBC engine provider name
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/connection/JdbcConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/doris/DorisConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/mysql/MySQL8ConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/mysql/MySQLConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/phoenix/PhoenixConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/postgresql/PostgreSQLConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/starrocks/StarRocksConnectionProvider.scala
Labels: module:jdbc

[KYUUBI #6002] Bump vite from 4.3.9 to 4.5.2 in web UI
  kyuubi-server/web-ui/package-lock.json
  kyuubi-server/web-ui/package.json
  kyuubi-server/web-ui/pnpm-lock.yaml
Labels: module:ui

[KYUUBI #5987] Always export KYUUBI_HOME in `load-kyuubi-env.sh`
  bin/load-kyuubi-env.sh
Labels: none

[KYUUBI #5944] Introduce Prometheus and Grafana for Kyuubi Playground
  docker/playground/.env
  docker/playground/README.md
  docker/playground/compose.yml
  docker/playground/grafana/datasource/prometheus.yaml
  docker/playground/prometheus/prometheus.yml
Labels: module:kubernetes

[KYUUBI #5377][FOLLOWUP] Get limit from more spark plan and regard result max rows
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
Labels: module:spark

[KYUUBI #5966] Error occurs on clicking on the Spark UI Kyuubi Query Engine tab
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Labels: module:common

[KYUUBI #5985] [AUTHZ][MINOR] Remove incorrect getUri method
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #6016] Conditional call GetInfo CLI_ODBC_KEYWORDS to restore compatible with lower version Kyuubi and HS2
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDatabaseMetaData.java
Labels: module:ctl, module:hive

[KYUUBI #4279] Use new Apache 'closer.lua' syntax for kyuubi-download to obtain engine
  docs/contributing/code/building.md
  externals/kyuubi-download/pom.xml
  pom.xml
Labels: kind:documentation

[KYUUBI #6007] AuthZ should check hoodie procedures path resource privileges
  extensions/spark/kyuubi-spark-authz/src/main/resources/META-INF/services/org.apache.kyuubi.plugin.spark.authz.serde.URIExtractor
  extensions/spark/kyuubi-spark-authz/src/main/resources/table_command_spec.json
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/tableExtractors.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/gen/HudiCommands.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/HudiCatalogRangerSparkExtensionSuite.scala
Labels: module:spark, module:extensions, module:authz

[KYUUBI #5987] Enhance KYUUBI_HOME detection in shell script to handle softlink cases
  bin/beeline
  bin/kyuubi
  bin/kyuubi-admin
  bin/kyuubi-ctl
  bin/kyuubi-zk-cli
  bin/load-kyuubi-env.sh
Labels: module:ctl, module:hive, module:server

[HADP-52532] Support to deregister server discovery forcibly after gracefully period (#555)
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
Labels: module:common, module:ha

[HADP-52467][FOLLOWUP] Disable the spark.yarn.isPython for ETL handler jobs (#558)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/PySparkConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/PySparkConfAdvisorSuite.scala
Labels: none

[KYUUBI #5952] Disconnect connections without running operations after engine maxlife time graceful period
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineTests.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
Labels: kind:documentation, module:common, module:ha, module:spark

[KYUUBI #6048] Assign serviceNode and add volatile for variables
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
Labels: module:ha

[KYUUBI #6053] [K8S] Show more details for pod/container status in application error
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/util/JsonUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Labels: module:server, module:rest-client

[KYUUBI #5991] Error on reading Atlas properties composed of multi values
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasClientConf.scala
Labels: module:spark, module:extensions

Revert "[KYUUBI #5952] Disconnect connections without running operations after engine maxlife time graceful period"
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineTests.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Labels: kind:documentation, module:common, module:spark

[ZETA-5426] Support auto truncate fields before collect to driver (#560)
  ebay/kyuubi-ebay-extension-spark/pom.xml
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/kyuubi/KyuubiEbaySQLConf.scala
  ebay/kyuubi-ebay-extension-spark/src/main/scala/org/apache/spark/sql/kyuubi/TruncateFieldsBeforeCollect.scala
  ebay/kyuubi-ebay-extension-spark/src/test/scala/org/apache/spark/sql/kyuubi/KyuubiSparkSQLExtensionTestDTOs.scala
  ebay/kyuubi-ebay-extension-spark/src/test/scala/org/apache/spark/sql/kyuubi/TruncateFieldsBeforeCollectSuite.scala
Labels: none

[HADP-51711][FOLLOWUP] Support to specify the default conf for tess context and namespace (#563)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessFileSessionConfCache.scala
  ebay/kyuubi-ebay/src/test/resources/kyuubi-session-tess-35-defaults.conf
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/TessFileSessionConfCacheSuite.scala
Labels: none

Revert "[HADP-51711][FOLLOWUP] Support to specify the default conf for tess context and namespace (#563)"
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessFileSessionConfCache.scala
  ebay/kyuubi-ebay/src/test/resources/kyuubi-session-tess-35-defaults.conf
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/TessFileSessionConfCacheSuite.scala
Labels: none

[HADP-52560] Support to config tess context/namespace default conf (#564)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TagBasedSessionConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/resources/kyuubi-overwrite.conf.spark_tess.test
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/TessConfAdvisorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
Labels: module:common

[HADP-52467][FOLLOWUP] For non etl sql driver batch app, using CLI env instead of ETL (#565)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/PandaEnvConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/PandaEnvConfAdvisorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSession.scala
Labels: module:common, module:server

[HADP-52650[FOLLOWUP] Fix tess default conf overwrite issue (#566)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TessConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/resources/kyuubi-defaults.conf
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/TessConfAdvisorSuite.scala
Labels: none

[HADP-52810] Log4j Make all logging Async (#567)
  dev/dependencyList
  ebay/kyuubi-ebay/pom.xml
Labels: none

[HADP-52853][ZETA] Support to qualify the path with hadoop defaultFS (#569)
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/ChainedSessionConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/HadoopPathQualifyConfAdvisor.scala
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/TagBasedSessionConfAdvisor.scala
  ebay/kyuubi-ebay/src/test/resources/kyuubi-defaults.conf.apollorno
  ebay/kyuubi-ebay/src/test/resources/kyuubi-defaults.conf.herculeslvs
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/ChainedSessionConfAdvisorSuite.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/HadoopPathQualifyConfAdvisorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
Labels: module:common

[KYUUBI #6178] Improve Gluten integration test
  .github/workflows/gluten.yml
  .github/workflows/master.yml
  integration-tests/kyuubi-gluten-it/pom.xml
  integration-tests/pom.xml
Labels: kind:infra, module:integration-tests

[KYUUBI #6119] [DOC] Update doc for HA/Zookeeper Configuration
  docs/configuration/settings.md
  docs/connector/spark/delta_lake_with_azure_blob.rst
  docs/deployment/high_availability_guide.md
  docs/tools/kyuubi-ctl.rst
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Labels: kind:documentation, module:ha

[KYUUBI #6071] Add .java-version into git ignore
  .gitignore
Labels: kind:infra

[KYUUBI #4453][FOLLOW] Delete LICENSE for removed kubernetes client dependencies
  LICENSE-binary
Labels: kind:infra

[KYUUBI #6180] Kyuubi Spark nightly testing should use JDK 17
  .github/workflows/nightly.yml
Labels: kind:infra

[KYUUBI #6171][FOLLOWUP] Restore flink-1.16 profile to recover Flink IT
  pom.xml
Labels: none

[KYUUBI #6158] [MINOR] Remove confusing variable
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
Labels: module:flink

[KYUUBI #6066] Fix PostgreSQL metastore migration script failure if indexes already exist
  kyuubi-server/src/main/resources/sql/postgresql/metadata-store-schema-1.9.0.postgresql.sql
Labels: module:server
