Repository turboFei/incubator-kyuubi, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:documentation, kind:infra, module:common, module:ctl, module:events, module:flink, module:ha, module:hive, module:jdbc, module:kubernetes, module:metrics, module:trino, module:tpcds, module:server, module:spark, module:extensions, module:rest-client, module:integration-tests, module:authz, module:ui

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      '.rat-excludes',
      '.scalafmt',
      '**/*pom.xml',
      'bin/docker-image-tool.sh',
      'build/**/*',
      'docker/**/*',
      'docs/requirements',
      'kyuubi-assembly/**/*',
      'scalastyle-config.xml'
    ]
    - all-globs-to-any-file: [
      'dev/**/*',
      '!dev/kyuubi-codecov/**/*',
      '!dev/kyuubi-tpcds/**/*'
    ]

"kind:deploy":
  - changed-files:
    - all-globs-to-any-file: [
      'bin/**/*',
      '!bin/beeline',
      '!bin/docker-image-tool.sh'
    ]
    
"kind:documentation":
  - changed-files:
    - any-glob-to-any-file: [
      '*.md',
      'conf/**/*',
      'docs/**/*',
      'readthedocs.yml'
    ]

"kind:infra":
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.github/**/*',
      '.gitignore',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary',
      'codecov.yml',
      'dev/kyuubi-codecov/**/*',
      'licenses-binary'
    ]

"module:common":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-common/**/*'
    ]

"module:ctl":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'kyuubi-ctl/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:events":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-events/**/*'
    ]

"module:flink":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-flink-sql-engine/**/*',
      'integration-tests/kyuubi-flink-it/**/*'
    ]

"module:ha":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-ha/**/*',
      'kyuubi-zookeeper/**/*'
    ]

"module:hive":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/beeline',
      'externals/kyuubi-hive-sql-engine/**/*',
      'kyuubi-hive-beeline/**/*',
      'kyuubi-hive-jdbc/**/*',
      'kyuubi-hive-jdbc-shaded/**/*'
    ]

"module:jdbc":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-jdbc-engine/**/*'
    ]

"module:kubernetes":
  - changed-files:
    - any-glob-to-any-file: [
      '.dockerignore',
      'bin/docker-image-tool.sh',
      'docker/**/*',
      'integration-tests/kyuubi-kubernetes-it/**/*'
    ]

"module:metrics":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-metrics/**/*'
    ]

"module:trino":
  - changed-files:
    - any-glob-to-any-file: [
      'externals/kyuubi-trino-engine/**/*'
    ]

"module:tpcds":
  - changed-files:
    - any-glob-to-any-file: [
      'dev/kyuubi-tpcds/**/*'
    ]

"module:server":
  - changed-files:
    - any-glob-to-any-file: [
      'bin/kyuubi',
      'kyuubi-server/src/**/*',
      'kyuubi-server/pom.xml',
      'extension/server/kyuubi-server-plugin/**/*'
    ]

"module:spark":
  - changed-files:
      - any-glob-to-any-file: [
        'externals/kyuubi-spark-sql-engine/**/*',
        'extensions/spark/**/*'
      ]

"module:extensions":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/**/*'
    ]

"module:rest-client":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-rest-client/**/*'
    ]

"module:integration-tests":
  - changed-files:
    - any-glob-to-any-file: [
      'integration-tests/**/*'
    ]

"module:authz":
  - changed-files:
    - any-glob-to-any-file: [
      'extensions/spark/kyuubi-spark-authz/**/*'
    ]

"module:ui":
  - changed-files:
    - any-glob-to-any-file: [
      'kyuubi-server/web-ui/**/*'
    ]

[KYUUBI #6175] [MINOR] Refactor copy path about SPARK_HOME in docker
  bin/docker-image-tool.sh
Labels: module:kubernetes

[KYUUBI #6095] Enable PaimonTest for Spark 3.5
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/PaimonCatalogRangerSparkExtensionSuite.scala
  pom.xml
Labels: module:spark, module:extensions, module:authz

[KYUUBI #6142] Deprecate Flink 1.16
  docs/deployment/migration-guide.md
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkEngineUtils.scala
Labels: kind:documentation, module:flink

[KYUUBI #6205] Backport SPARK-47300: quoteIfNeeded should quote identifier starts with digits
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/util/SparkCatalogUtils.scala
Labels: module:spark

[KYUUBI #6207] Support to retrieve Spark UserDefinedType result
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDataTypeHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/ExampleValueUDT.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkUDTOperationSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcColumn.java
Labels: module:ctl, module:hive, module:spark

[KYUUBI #6206] Update comments for job group id of Spark broadcast jobs
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Labels: module:spark

[KYUUBI #2782][FOLLOWUP] Add missed UNION_TYPE back
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcColumn.java
Labels: module:ctl, module:hive

[HADP-52924][ZETA] Support to set server connection limit for cluster and tag scope (#574)
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiEbayConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiEbayConfSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Labels: module:common, module:server

Revert "[HADP-47564][FOLLOWUP] Introduce VIPURIResolverHook to resolve VIP used hive metastore URI" (#575)
  dev/dependencyList
  ebay/kyuubi-ebay/pom.xml
  ebay/kyuubi-ebay/src/main/scala/org/apache/kyuubi/ebay/VIPURIResolverHook.scala
  ebay/kyuubi-ebay/src/test/scala/org/apache/kyuubi/ebay/VIPURIResolverHookSuite.scala
Labels: none

users
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/EbayResource.scala
Labels: module:server

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/EbayResource.scala
Labels: module:server

ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/EbayResourceSuite.scala
Labels: module:server

save
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/EbayResourceSuite.scala
Labels: module:server

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/EbayResource.scala
Labels: module:server

Support to get kubernetes app url
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/KubernetesApplicationOperationSuite.scala
Labels: kind:documentation, module:common, module:server

save
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpAuthUtils.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpBearerAuthInterceptor.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationAuditLogger.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KyuubiHttpAuthenticationFactory.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/util/SessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Labels: module:ctl, module:hive, module:server

shutdown
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Labels: module:server

prevent npe
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Labels: module:server

save
  docs/configuration/settings.md
  docs/monitor/metrics.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Labels: kind:documentation, module:common, module:metrics, module:server

close
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
Labels: module:common, module:server

reserve
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
Labels: module:server

engine id
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Labels: module:common, module:ctl, module:hive, module:server

ut
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Labels: module:common, module:ctl, module:hive, module:server

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Labels: module:common
